apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: my-devops-helm-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/tailszhang0/my-devops-helm-demo.git
    targetRevision: main
    path: helm/my-devops-helm-app
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true